.header {}

.container {
}

.header__container {
  display: flex;
  align-items: center;

  // media mob/tab
  @media screen and (max-width: 899px) {
    justify-content: space-between
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  text-decoration: none;
}

.header__logo-img {
  width: 80px;
  height: 65px;
}

.header__logo-text {
  width: 40;

  font-family: 'Caveat', cursive;
  font-size: 34px;
  color: rgba(41, 41, 41, 0.813);
}

.site-nav {
  margin-left: 100px;

  // media mob/tab
  @media screen and (max-width: 899px) {
    margin-left: 0;
  }

  // media mob/tab
  @media screen and (max-width: 820px) {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  gap: 30px;
  padding: 15px 0
}

.site-nav-item {
}

.site-nav__link {
  position: relative;

  font-size: 20px;
  color: rgba(41, 41, 41, 0.902);
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;

    background-color: #1c85fc;
    border-radius: 20px;
  }

  &:hover,
  &:focus {
    color: #1c85fc;
  }

  &:hover::after,
  &:focus::after {
    animation-name: nav-anim;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}

@keyframes nav-anim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.header-btn {
  display: block;
  padding: 10px 15px;
  margin-left: auto;

  color: white;

  background-color: rgb(28, 133, 252);
  border-radius: 10px;
  border: 1px solid transparent;

  transition: 150ms;

  cursor: pointer;

  &:hover,
  &:focus{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px rgb(37, 134, 251);
  }

  @media screen and (max-width: 899px) {
    margin-left: 0;
  }

  @media screen and (max-width: 820px) {
    display: none;
  }
}